html, body {
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 90px 2fr 100px;
}

header  {
    height: 100%;
    width: 100%;
}

footer {
    height: 100%;
    width: 100%;
    background-color: #4D61F4;
    color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-size: 20px;
}