.profile-image {
    width: 160px;
    height: 160px;
    border: 5px solid var(--secondary-color);
    border-radius: 50%;
    margin-bottom: 20px;
}

.list-group {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    border: none;
}




