
{% extends 'base.html.twig' %}

{% block body %}


    <img src="{{ asset('images/404.svg') }}" >

    <div class="container mt-3 text-center" >
        <btn class="btn btn-primary" href="{{ path('site_accueil')}}">Retour à l'accueil</btn>
    </div>


{% endblock %}